body {
   text-align: center;
}



input[type=number]{
    width: 50px;
} 

#game-board{
    border: 1px solid #333;
    display: inline-block;
}

.rowz {
    font-size: 0px;
}

.eachbox {
  background-color: pink;
  height: 30px;
  width: 30px;
  border: black solid 1px;
  display: inline-block;
  vertical-align: top;  
  font-size: 15px;



}


.eachbox.unclicked:hover{
background-color: blue;
}

.eachbox.unclicked {
    background-color: grey;
}


